<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_SuperStoreServiceInterface" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9639/SuperStoreService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SuperStoreServiceInterface"
                contract="SuperStoreServiceReference.SuperStoreServiceInterface"
                name="BasicHttpBinding_SuperStoreServiceInterface" />
        </client>
    </system.serviceModel>
</configuration>